fastapi
uvicorn[standard]
requests
python-dotenv
python-multipart
pydantic
python-calamine
holidays
python-barcode
Pillow
fastapi
uvicorn
python-multipart
pandas
openpyxl
jinja2
playwright
Pillow
python-barcode
